<!DOCTYPE html>
<html>
<head>
	<title>user </title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainProjectApp/css/mainApp.css' %}">
</head>
<body>
<div class="main_wrapper">
	{% if messages %}
		<div class="messagesClass">
		    {% for message in messages %}
		    	<p>{{ message }}</p>
		    {% endfor %}
		</div>
	{% endif %}

	
	<div class="header">
		<a href="/success" class="first_link">Home</a>
		<a href="/logout">Logout</a>
	</div> <!-- end of header -->
	<div class="main_content">
		<form action="/add_item_db" method="post" class="book_add_form">
			<fieldset>
				{% csrf_token %}
				<legend>Add Quote</legend>
				Add Item:<input type="text" name="item">
				<input type="submit" value="Add">
			</fieldset>
		</form>	

	
	</div> <!-- end of main content -->
</div><!-- end of main_wrapper -->
</body>
</html>