<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainProjectApp/css/mainApp.css' %}">
</head>
<body>
<div class="loginPageWrapper">
	{% if messages %}
	<div class="messagesClass">
	    {% for message in messages %}
	    	<p>{{ message }}</p>
	    {% endfor %}
	</div>
	{% endif %}


	<form action="/new" method="post">
		<fieldset>
			{% csrf_token %}
			<legend>Registration</legend>
			Name:<input type="text" name="first_name">
			Alias:<input type="text" name="alias">
			Email: <input type="text" name="email">
			Password: <input type="text" name="password">
			Re-Enter Password:<input type="text" name="passwordCheck">
			Birthday: <input type="date" name="bday">
 			<input type="submit" >
		</fieldset>
	</form>	


	<form action="/signOn" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>Login</legend>
			Email: <input type="text" name="email">
			Password: <input type="text" name="password">
			<input type="submit" >
		</fieldset>
	</form>

</div>

</body>
</html>