<!DOCTYPE html>
<html>
<head>
	<title>success</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainProjectApp/css/mainApp.css' %}">
</head>
<body>

	<div class=main_wrapper>
		{% if messages %}
			<div class="messagesClassSuccess">
			    {% for message in messages %}
			    	<p>{{ message }}</p>
			    {% endfor %}
			</div>
		{% endif %}
		<div class=header>
			<h2>Welcome, {{user.alias.title}} !</h2>
			<a href="/add_item">Add Item</a>
			<a href="/logout">Logout</a>
		</div> <!-- end of header -->
		<div class=main_content>
			<div class=left_side>
				<h3>Your wishlist:</h3>
					<fieldset>
						<table>
							<tr>
							    <th>Item</th>
							    <th>Added By</th> 
							    <th>Date Added</th>
							    <th>Action</th>
							 </tr>
							{% for item in userWishlist%}
								<tr> 
									<td><a href="/item_page/{{item.item.id}}">{{item.item.item}}</a></td>
									<td>{{item.item.user.alias}}</td>
									<td>{{item.item.created_at}}</td>
									{% if item.item.user.id == request.session.id%}
										<td><a href="/delete/{{item.item.id}}">delete</a></td>
									{%else%}
										<td><a href="/remove_wishlist/{{item.item.id}}">Remove From Wishlist</a></td>
									{%endif%}
								</tr>
							{% endfor %}
						</table>
					</fieldset>

					<h3>Other Users Wishlist Items:</h3>
					<fieldset>
						<table>
							<tr>
							    <th>Item</th>
							    <th>Added By</th> 
							    <th>Date Added</th>
							    <th>Action</th>
							 </tr>
							{% for item in items%}
								<tr> 
									<td><a href="/item_page/{{item.id}}">{{item.item}}</a></td>
									<td>{{item.user.alias}}</td>
									<td>{{item.created_at}}</td>
									<td><a href="/add_to_wishlist/{{item.id}}">Add to Wishlist</a></td>
								</tr>
							{% endfor %}
						</table>
					</fieldset>
			</div> <!-- end of book_reviews -->
			
		</div> <!-- end of main content -->
	</div><!-- end of main_wrapper -->


</body>
</html>